Table of Contents 
==============
[**Introduction**](#Introduction)

[**Data Sucks (Intro. to Data)**](#Data-Sucks)

[**Exploration (Data Exploration)**](#Exploration)

[**Staying in Shape (Fitness of Models)**](#Staying-in-Shape)

[**Pre-AI (Statistical Models)**](#Pre-AI)

[**Drawing the Line (Linear Regression)**](#Drawing-the-Line)

[**1's and 0's (Binary Classifiers)**](#1's-and-0's)

[**The Neuron (Intro. to Neural Nets)**](#The-Neuron)

[**A Bunch of Neurons (Deep Neural Networks)**](#A-Bunch-of-Neurons)

[**Bunches of Bunches of Neurons (CNNs, RNNs, LSTMs, etc)**](#Bunches-of-Bunches-of-Neurons)

[**No Supervision Required (Clustering & Unsupervised Learning)**](#No-Supervision-Required)

[**Stayin' Edgy (Graph Analysis)**](#Stayin'-Edgy)

[**The Art of Language (Natural Language Processing)**](#The-Art-of-Language)

[**Darwin was Right (Evolutionary Algorithms)**](#Darwin-was-Right)

[**The Cutting Edge (Reinforcement Learning & State-of-the-Art)**](#The-Cutting-Edge)

# Introduction 

If you're reading this, you probably already know why you want to study machine learning or data science. Maybe it's because you see the field going places in the next 10 years. Maybe it's to impress the cute girl at the bar (although, if it is, you might want to try some other tactic). Motivation aside, there are some things you are looking for in a textbook. The goal of this introduction is to tell you what this series is, and more importantly, what it _isn't_. 

## Motivations 

To give you some context, it's helpful to understand why I'm writing this. When I started learning, there were several tutorials online that showed me the theory, but had me download a separate file for the code or presented the code to me in chunks. While that works for some people, it didn't work for me. Additionally, they all started with some pre-created dataset. That was great for learning, but for someone who wanted to work with data one day, it only showed me half of the story. So, my main two motivations for this were: 

* Put the code _with_ the theory and text, so it's interactive and easily modifiable 
* Talk about more than just the neural net. Show the pipeline from raw data to an end model. 

## What this isn't 

1. This **isn't** a comprehensive dive into theory. If you're looking for theory, there are plenty of online resources that talk about _nothing_ but theory. I highly recommend reading them, as I believe they provide a good supplement to anyone who wants to work with AI code. 
2. This **isn't** a resource for wrtiting the most state-of-the-art, efficient code. The code here is designed to convey a point and demonstrate the inner working behind concepts: therefore, there might be instances where I use a less-efficient but more clear example. When I do this, I'll try to mention it, but no promises. 
3. This **isn't** designed to be an end-all to these concepts. The datascience/AI field is HUGE. It would be impossible to cover everything, but I will do my best to give you a rigorous survey of what exists and what can be done. 

## What this is 

1. This **is** a good place for those who are looking to get started. I will try to explain industry terminology and modern optimizations in a relatively straightforward manner, so if you have no idea where to begin, this is the place 
2. This **is** a practical introduction, so along with the theoretical concepts and mathematics, I'll be giving you runnable code that you can interact with if you download and run the notebook yourself. 
3. This **is** going to cover more than just machine learning. The goal is to make sure a reader understands the process of going from nothing to a working model, so we'll be talking about data cleaning, structure, storage, and analysis along with the normal topics of machine learning. 

## A note on dependencies 

Although I can provide all the code you need from start to finish, I can't install the dependencies for you. The following dependencies are required:

```
nltk*
numpy
pandas
seaborn
networkx*
graphviz*
matplotlib
tensorflow
scikit-learn
```
\*= These are only used in one or two chapters. You don't really need them, as they fall under the category of exploring what you can do beyond just neural networks. If you want to explore those chapters, then you'll need them.

# Data Sucks 

Yes, I said it. Data straight up sucks in the real world. Most machine learning tutorials will give you a nice, cleaned data set, but this isn't most machine learning tutorials. The fact is, in the real world, data is _very_ messy. Just a few of the many ways data will suck: 
   
   - Missing entries all over the place: A row of data is incomplete
   - File names don't match. One file is "CompanyA.txt", another is "A Corp..txt", and yet another is "CompanyS.txt", where the "S" is a typo for "A". 
   - Some data entry intern put a typo in: the phone number is "(122) 456-7890" instead of "(123) 456-7890" 
   - Someone put a letter in a numerical column 
   - A company used arbitrary numbers to represent categories in the same column as normal numbers. 9999999 means "no data", but 999990 is a completely valid number. 
   
If data sucks so much, then why is it "digital oil"? Like all oil, it needs to be refiend and processed before it is valuable. The data scientist's job is just as much about cleaning and processing data as it is about creating kickass models. The question you must be thinking is, _OK, great, but how do I clean data up?_ 

To answer this, we first need to talk about the types of data. 

## The Types of Data 

Generally speaking, all data can be grouped into four categories. 

### Nominal

Nominal data has no meaning except it's name. If you have a category, it's probably a nominal data type. For example, if I were to talk about the "make of car" I had, then I'd have a data column that looked something like: 

    id Make of Car 
    ----------- 
    1  Mazda 
    2  Honda 
    3  Mazda 
    4  Lamborghini 
    5  Aston Martin 
    6  Toyota 
    ... 

In this situation, comparing "Honda" to "Mazda" doesn't mean anything - you can't really compare two strings. The only thing we can do is convert this data into a "yes or no" question: is it a mazda or not? If we were to process this table, we'd end up with something like this: 

    id | Mazda | Honda | Lamborghini | Aston Martin | Toyota 
    --------------------------------------------------------
    1  | 1     | 0     | 0           | 0            | 0 
    2  | 0     | 1     | 0           | 0            | 0 
    3  | 1     | 0     | 0           | 0            | 0 
    4  | 0     | 0     | 1           | 0            | 0 
    5  | 0     | 0     | 0           | 1            | 0 
    6  | 0     | 0     | 0           | 0            | 1 
    ... 
Here, we can see that each different category became it's own column, and the entries in that column are a "1" or a "0" - 1 indicates that this column is the correct make of the car, and 0 represents that the column is not the correct make. This is a process known as _One-Hot Encoding_. Only one of columns in any given row will have a 1. 

Of course, there are other situations in which nominal variables pop up. They include 
- Phone Numbers 
- Addresses
- Sex 

Sometimes, performing one-hot encoding to make sense of the nominal variable does not make sense. For example, performing this on phone numbers will be pointless. The clever data scientist instead processes these variables in a creative manner to make it useful. Maybe they will take the area code of a phone number and use area codes instead of the entire phone number. Maybe they'll use a web service to convert the Address to a GPS coordinate, after which the variable is no longer nominal, but interval. Usually, it is up to the data processor to make sense of nominal variables. Let's work through an example of one-hot encoding.

In [1]:
#We're going to use pandas so we have a pretty representation of our dataset
import pandas as pd 

#Create some mock data 
mock_car_makes = ["Mazda", "Toyota", "Mazda", "Honda", "Tesla", "Tesla", "Ford", "Chevy", "Ford", "Honda"] 

#Let's see what it looks like 
original_data = pd.DataFrame({"Makes": mock_car_makes}, dtype=str)
original_data

    Makes
0   Mazda
1  Toyota
2   Mazda
3   Honda
4   Tesla
5   Tesla
6    Ford
7   Chevy
8    Ford
9   Honda

In [2]:
# Now, let's one-hot encode 
# CLARITY NOTE: There are libraries that do this for you, faster and more efficiently than done here.
# Look at Pandas (Dataframe.get_dummies(), SKLearn.preprocessing.OneHotEncoder) 
# We're doing it manually so you get the idea of what goes on inside 

# First find the unique elements. These are our new columns.  
unique_elements = list(set(mock_car_makes)) #Set makes them unique, and list imposes an order to them. 

#Here, we're going to use a NumPy Array to keep track 
#Each row will have a single entry, so it needs to be the length of the new column s
#There need to be an equal number of rows as we have entries in the dataset. 
import numpy as np 
onehot_encoded_list = np.zeros((len(mock_car_makes), len(unique_elements)), dtype=int) 

#Iterate over the mock car makes 
#Enumerate gives me both the index and the entry itself.
for i, entry in enumerate(mock_car_makes): 
    #get the column 
    correct_make = unique_elements.index(entry) 
    #Assign it to 1 
    onehot_encoded_list[i, correct_make] = 1 

#Let's verify that this worked. Let's look at the joined tables 
pd.concat((pd.DataFrame(onehot_encoded_list, columns=unique_elements), original_data), axis=1)

   Chevy  Toyota  Tesla  Honda  Mazda  Ford   Makes
0      0       0      0      0      1     0   Mazda
1      0       1      0      0      0     0  Toyota
2      0       0      0      0      1     0   Mazda
3      0       0      0      1      0     0   Honda
4      0       0      1      0      0     0   Tesla
5      0       0      1      0      0     0   Tesla
6      0       0      0      0      0     1    Ford
7      1       0      0      0      0     0   Chevy
8      0       0      0      0      0     1    Ford
9      0       0      0      1      0     0   Honda

We can see that above, we have a single 1 for every row, in the column that matches the car make. 

### Ordinal 
Ordinal variables are _ranked_ variables. They have an _order_ that makes them have sense. Often times, this order will be numerical, and will make sense: 1st place is better than 2nd place, and so on. Sometimes, these will be letters, and we'll have to convert the letters to numbers in a way that makes sense. 

Examples of Ordinal variables: 
- Position in graduating class 
- Order in a line 
- A risk level 

A variable is ordinal if comparing "greater than" or "less than" makes sense. We can compare "1st" and "2nd" and say one is greater or less than the other. It is important to note that subtraction and addition don't mean anything useful in ordinal variables. 

### Interval 

Interval variables are where we start getting into more familiar territory. In interval variables, addition and subtration make sense. A good example of an interval variable is temperature: 

    id | Temperature (â€¢F) 
    ---------------------
    1  | 80 
    2  | 40 
    3  | -3 
    4  | 100 
    ... 

In this situation, we can easly say that 80 degrees minus 40 degrees is 40 degrees, so 80 is 40 degrees hotter than 40. However, multiplication and division don't make sense: 80 is not "twice as hot" as 40 degrees, because "twice has hot" has no real-world meaning. The number 0 does not indicate a lack of quantity: for example, 0 degrees fahrenheit does not mean that there is no termperature! 

*Interval Variables are measured off of some baseline* 
Other examples: 
- Longitude (measured off of the baseline of the Prime Meridian) 
- Latitude (measured off of the Equator) 
- Date (measured since year 0)
- Day in Year (measured from Jan. 1) 


### Ratio 
Ratio variables are perhaps the easiest to understand. Here, multiplication and division have meaning, and the number "0" indicates a lack of quantity. A natural ratio variable is age: 

    id | Age 
    ---------
    1  | 2 
    2  | 18 
    3  | 16 
    4  | 40 
    5  | 70 
    ... 

The 18 year old is truly 9 times as old as the 2 year old. If someone is 0, that means they have a lack of age; they haven't been on the planet long enough to have an age in years. 

*Zero indicates a lack of quantity for Ratio variables* 

Other Examples: 
- Distance 
- Temperature in Kelvin 
- Time from Start 
- Height 

## A Warning Word to the Wise about Bias 

Bias exists in almost every situation you'll come across. Sometimes, a certain demographic will refuse to put in data. Maybe a specific client forgot to gather some data you asked for. Maybe the dog ate your column. No matter what, bias will generally find it's way into your dataset. Before you do any cleaning or processing, it's imperative you identify potential biases and keep those in mind when conducting your analysis. See if you can't think of ways to mititgate the effects of bias, such as using concepts such as a control or using a unit measurement. We'll get into some of these techniques in a [later chapter](#Pre-AI). 

## About the Cleaning.... 

Unfortunately, there isn't one magic way to clean a dataset. Often times, it's really hard to clean, because different situations can result in different valid strategies. 

### Missing Values in a Row 
Sometimes a row will have missing values. Perhaps the user chose not to enter their phone number, or their age. There are a few things you can do: 

- If you have a lot of rows without missing data, and you know there is no bias in the rows that have missing values, you can drop it. 
   * Beware of bias! Perhaps 60 year olds don't want to put their age in. By dropping those rows, you'll bias any analysis you do afterwards 
- If you can reasonably fill in the value, fill it in. Insert the median or the mean, whichever makes more sense. 
   * Suppose you create a histogram of the data that you do have, and it's a perfect bell curve. You're probably safe inserting a value from that bell curve for the missing data points 
- If at all possible, solve a different problem 
   * Maybe the missing data isnt' required for what you are truly looking for. If that's the case, then solving a related problem that doesn't need the missing data is your best bet

# Exploration

# Staying in Shape

# Pre-AI

# Drawing the Line

# 1's and 0's

# The Neuron

# A Bunch of Neurons

# Bunches of Bunches of Neurons

# No Supervision Required

# Stayin' Edgy

# The Art of Language

# Darwin was Right

# The Cutting Edge